@page "/people/create"
@inject HttpClient http
@inject Microsoft.AspNetCore.Components.NavigationManager navManager


<h3>Create</h3>

<PersonForm ButtonText="Create Person" Person="@person" OnValueSubmit="CreatePerson" />

@code {

    Person person = new Person();

    async Task CreatePerson()
    {
        await http.PostJsonAsync("api/people", person);
        navManager.NavigateTo("people");
    }
}
